<html>
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IOT</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  

    </head>
    <body>
        {% if(data) > 5 and (data) < 35 %}
        <p>Humidity is okay. I can grow</p>
        <img src="../static/IMAGES-7.png" width="100%" height="100%">
        {% endif}

        {% if(data) > 36 and (data) < 75 %}
        <p>Humidity is good. I am feeling powerful.</p>
        <img src="../static/IMAGES-6.png" width="100%" height="100%">
        {% endif}

        {% if(data) > 76 and (data) < 100 %}
        <p>Humidity is high. I cannot grow</p>
        <img src="../static/IMAGES-8.png" width="100%" height="100%">
        {% endif}
    </body>
</html>